<h1>Is a Bus Nearby?</h1>

<p>
	Give us your address or approximate location (<em>at the corner of ...</em>), and we will let you know if there is a bus in the vicinity!
</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
